.container23{
    overflow-y: hidden;
    background: #140f0a;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.block123{
    background: #120a02;
    width: 30%;
    border-radius: 17px;
    border: 1px solid #221a1a;
    box-shadow: 0 0px 20px 0px #221a1a;
    color: #bbb8b8;
    font-family: sans-serif;

}
.inpt23{
    background: #2e2b27;

    position: relative;
    width: 76%;
    left: 10%;
    height: 32px;
    border-radius: 6px;
    border: none;
    color: #bbb8b8;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin-top: -1%;
    
}
.lbl23{
    position: relative;
    left: 12%;
    top: 3%;
    font-weight: 600;
}
.inpt23:focus{
    outline: 2px solid rgb(0, 149, 255);
}

#submitbtn23{
    background: rgb(255 255 0);
    position: relative;
    border: none;
    border-radius: 10px;
    width: 222px;
    height: 31px;
    font-family: sans-serif;
    font-weight: 600;
    top: -100px;
    left: 23%;
    margin-top: 150px;
}

#submitbtn23:hover{
    background: rgba(255, 255, 0, 0.678);


}

.log23{
    font-size: 13px;
    font-weight: 600;
    position: relative;
    top: 4px;
    left: 112px;
}
.notalink23{
    color: rgb(0, 149, 255);
    text-decoration: none;
}
.notalink23:hover{
    text-decoration: underline;
}
#imageFile{
    max-width: 70%;
    max-height: 190px;
    position: relative;
    left: 59px;
    top: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #422e2e;
}
#file{
    position: relative;
    left: 110px;
}