/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


body{
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  background:  #140f0a;
  width: 12px;
}
::-webkit-scrollbar-thumb{
  background: rgb(37, 28, 21);
  border-radius: 20px;
}
*{
  scroll-behavior: smooth;

}
.canwas{
  position: relative;
  background: transparent;
  margin: 0;
  display: block;
}






@media (min-width:320px)and (max-width:425px) {
  body{
    overflow-x: hidden;
  }
  .h100vh{
    top: 53px;
    height: 52vh;
    overflow: hidden;
  }
  .img{
    width: 185%;
    left: -145px;
    position: relative;
  }
  .brandname{
    font-size: 26px;
  }
  .brand{
    top: -44%;
    left: 4%;
  }
  .branddiscription{
    margin-top: 9%;
  }
  .producthead{
    font-size: 20px;
  }
  .h00vh{
    overflow: hidden;
    height: 220vh;
  }
  .block{
    width: 80%;
    left: 10%;
  }
  .headline{
    font-size: 12px;
    top: 3%;
  }
  .setp{
    font-size: 13px;
  }
  .footer{
    height: 69vh;
  }
  .copy{
    top: 75%;
    left: 22%;
    font-size: 12px;
    max-width: 184px;
    text-align: center;
  }
  .btn{
    width: 45%;
    left: 29%;
    top: 15%;
  }
  .logo{
    font-size: 14px;
    top: -15%;
  }
  .menubtn{
    display: block;
    font-size: 14px;
    position: fixed;
    right: 10px;
  }
  #opacity0{
    opacity: 0;
   
  }
  .header{
    height: 9vh;

  }
  .s2{
    left: 70%;
  }
  #producks{
    position: relative;
    left: 100px;
  }
  .hlinks100{
    left: 100%;
  }
 
}