.header{
    width: 100%;
    height: 11vh;
    /* background: rgb(24, 29, 24); */
    background: rgb(49, 39, 31);
    position: fixed;
    border-bottom: 1px solid #3e3e3e;
    z-index: 10;
    display: flex;
}
.logo{
    position: relative;
    top: -10%;
    left: 2%;
    font-family: sans-serif;
    color: #bbb8b8;
}
.notlink{
    text-decoration: none;
    color: rgb(0, 149, 255);
    font-family: sans-serif;
}

.producks{
    color: rgb(0, 149, 255);
    text-decoration: none;
    font-family: sans-serif;

}
.hlinks{
    position: relative;
    font-weight: 600;
    left: 72%;
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    align-items: center;
}

.sl{
    font-family: sans-serif;
    font-weight: 600;

}

.s2{
    width: 30%;
    left: 56%;
    margin-right: 20px
}
.s1{
    color: #bbb8b8;

}

.hoverline:hover{
    text-decoration: underline;
    
}
.menubtn{
    display: none;
    color: #bbb8b8;
    font-family: sans-serif;
    position: relative;
    background: transparent;
    border: none;
}
.menuangle{
    margin-left: 4px;
    position: relative;
    top: 2px;
}
.menudiv{
    background: #31271f;
    width: 50%;
    box-shadow: inset 0px 0px 20px 0px #4a4545;
    height: auto;
    position: fixed;
    right: 0;
    top: 0;
    border-radius: 10px;
}
.menuitems{
    width: 100%;
    height: 2rem;
    background: transparent;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.menuitems:hover{
    background: #140f0a;
}
#menudiv{
    display: none;
    /* height: 0px; */
}